@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,600;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e2a2a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #414040;
}